.new-record {
    & button {
        display: block;
        width: 110px;
        margin: 30px auto;
    }
}

.new-record__form {
    & input {
        display: block;
        margin: 40px auto 0 auto;
        background: none;
        border: 1px solid var(--color-border);
        padding: 10px;
        font-size: 18px;
        outline: none;
        color: var(--color-text);

        &:focus {
            border-width: 2px;
        }
    }
}
