@import url("reset.css");
@import url("./components/modal.css");
@import url("./components/modal-card.css");
@import url("./components/switch.css");
@import url("game-field.css");
@import url("game-over.css");
@import url("new-record.css");
@import url("overlay.css");
@import url("settings.css");
@import url("settings-switch.css");
@import url("best-players.css");
@import url("about.css");
@import url("sidebar.css");

:root {
    --color-text: #4d5158;
    --color-background: #e5e5e5;
    --color-border: #7f8591;
    --color-overlay: rgba(0, 0, 0, 0.7);
    --color-background-dark: #231f20;
    --color-border-dark: #544a4d;
    --color-text-dark: #6d6064;
}

.app {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
